Source: otmixmod
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Christophe Prud'homme <prudhomm@debian.org>, Denis Barbier <barbier@debian.org>
Build-Depends: debhelper-compat (= 12),
               dh-python,
               cmake,
               libopenturns-dev,
               python3-openturns,
               python3-dev,
               swig
Standards-Version: 4.6.0
Homepage: http://www.openturns.org/
Rules-Requires-Root: no

Package: otmixmod
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-openturns
Description: module otmixmod
 This is an OpenTURNS-based module
 It allows to use MixMod models in distributions
